{% extends "base_kapsul.html" %}
{% block content %}
    <h2>Parmak İzi Kaydet</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        <button type="submit">Kaydet</button>
    </form>
{% endblock %}